defaults
    mode tcp
    timeout connect 1s
    timeout client  30s
    timeout server  30s

frontend main
    bind :9999
    default_backend api

backend api
    balance roundrobin
    option tcp-check
    server api1 api1:8080 check inter 1s fall 2 rise 2 init-addr libc,none
    server api2 api2:8080 check inter 1s fall 2 rise 2 init-addr libc,none
