global
    maxconn 8192
    nbthread 1
    tune.bufsize 16384

defaults
    mode http
    no log
    option dontlognull
    option httplog
    retries 3
    timeout connect 500ms
    timeout client 30s
    timeout server 30s
    timeout http-request 5s

frontend main
    bind *:9999 backlog 4096
    maxconn 12000
    default_backend api

backend api
    mode http
    balance roundrobin
    option httpchk GET /ready
    default-server maxconn 3000 inter 2s fastinter 1s downinter 5s fall 3
    server api1 api1:8080 check
    server api2 api2:8080 check
