global
    maxconn 8192
    nbthread 1
    tune.bufsize 16384
    tune.maxrewrite 1024

defaults
    mode tcp
    no log
    option dontlognull
    retries 0
    timeout connect 50ms
    timeout client 2s
    timeout server 2s
    timeout queue 2s

frontend main
    bind *:9999 backlog 4096
    maxconn 12000
    default_backend api

backend api
    balance roundrobin
    default-server maxconn 3000
    server api1 api1:8080
    server api2 api2:8080
